<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Jobs</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'background_fu' %>
</head>
<body>
  <%= yield %>
</body>
</html>
